.branded{
  background-color: #ffcb05;
  font-family: sans-serif;
}
.mytab{
  margin-top: 14px;
  padding-bottom: 0px;
  color: #000000 !important;
  border-bottom-color: #000000 !important;
}
.navtitle{
  font-size: 2vh;
  font-weight: 600;
  margin: auto;
}
.navtitle a{
  color: #000000;
}
